body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  background: #191919;
  color: white;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.home__img {
  width: 109px;
  height: 34px;
}
.home__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__wrapper {
  margin-top: 13px;
}
.home__wrapper input {
  background: #404040;
  border-radius: 15px;
  padding: 16px 22px;
  width: 500px;
  border: none;
  color: white;
  outline: none;
}
.home__wrapper input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.3);
}
.home__wrapper button {
  background: #c9ac8c;
  border-radius: 15px;
  border: none;
  margin-left: 13px;
  padding: 18px;
  width: 160px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3c2710;
}
.home__wrap {
  margin-top: 30px;
  text-align: center;
}
.home__content {
  display: flex;
  align-items: center;
  gap: 70px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 200px;
}
.home__content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.home__content p:hover {
  cursor: pointer;
  color: #c9ac8c;
}
.book__block {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.book__box {
  width: 165px;
}
.book__box img {
  width: 164.15px;
  height: 246.23px;
  border-radius: 15px;
}
.book__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #c9ac8c;
  margin-top: 15px;
}
.book__autor {
  font-weight: 300;
  font-size: 12px;
  line-height: 144.4%;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.6);
}
.book__result
