@font-face {
  font-family: "Steinbeck";
  src: url(../fonts/Steinbeck.otf);
  font-weight: 400;
}
body {
  background-color: #191919;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Steinbeck";
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}
